@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// Header start

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  &__logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
    img {
      margin-right: 50px;
    }
    a {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      padding: 7px 13px;
      border: 1px solid $text;
      margin-top: 20px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__nav-inner {
    display: flex;
  }
  &__nav-item {
    text-transform: uppercase;
    margin-left: 50px;
    transition: all 0.2s;
    &:hover {
      color: $accent;
      text-decoration: underline;
    }
  }
  &__btn {
    padding: 20px 100px 20px 30px;
    background-color: $blue;
    margin-left: 25px;
    position: relative;
    img {
      max-width: 32px;
      height: 23px;
    }
  }
}

// Header end
// Главная start

.screen {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  &__art {
    &-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    &-center {
      position: absolute;
      right: 20%;
      top: 0;
      max-width: 600px;
      width: 100%;
      z-index: 1;
    }
    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.social {
  display: flex;
  position: absolute;
  top: 490px;
  left: 20px;
  max-width: 220px;

  &__link {
    margin: 0 10px;
  }
}
// Главная end
// Місія start
.mission {
  margin-top: 0;
  &__title {
    position: relative;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/logo-white.png);
      width: 478px;
      height: 105px;
      right: 50px;
      top: -25px;
    }
  }
  &__slider {
    width: 704px;
    height: 555px;
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__text {
    max-width: 500px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    margin-right: 150px;
    margin-top: 45px;
  }
  &__decor {
    position: absolute;
    background-image: url("../images/bg-4.png");
    max-width: 505px;
    width: 100%;
    height: 370px;
    right: 0;
    bottom: -70px;
    z-index: 2;
  }
}
.control-c {
  position: absolute;
  right: -80px;
  bottom: 5px;
}
.prev {
  bottom: 55px;
}
// Місія end
// Art start

.art {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom 20px right 45%;
  z-index: 21;
  padding-bottom: 100px;
  &__title {
    margin: 0 0 70px 60px;
  }
  &__list {
    &-item {
      padding: 14px 230px 14px 130px;
      height: 86px;
      max-width: 660px;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      transition: all 0.3s;
      border-radius: 0 43px 43px 0;
      position: relative;
      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 80px;
      }

      .p {
        max-width: 330px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
  &__decor {
    position: absolute;
    bottom: 0;
    right: 130px;
    // height: 710px;
  }
}
.orang {
  &:hover {
    background-color: $orang;
    color: #fff;
  }
}
.blue {
  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
.accent {
  &:hover {
    background-color: $accent;
    color: #fff;
  }
}
// Art end
//About start
.about {
  margin-top: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    margin-left: 60px;
  }
  &__title {
  }
  &__text {
    width: 500px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    margin: 50px 0 74px 0;
  }
  &__btn {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 35px;
    a {
      background-color: $blue;
      padding: 20px 88px;
      color: #fff;
    }
  }
  &__slider {
    border: 10px solid #ff6450;
    box-sizing: border-box;
    max-width: 704px;
    height: 555px;
    position: relative;
    .prev {
      bottom: 55px;
    }
  }
}
.control-a{
position: absolute;
bottom: 5px;
left: -80px;
}