@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// Header start

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  &__logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
    img {
      margin-right: 50px;
    }
    a {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      padding: 7px 13px;
      border: 1px solid $text;
      margin-top: 20px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__nav-inner {
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 200px;
  }
  &__nav-item {
    text-transform: uppercase;
    margin-left: 50px;
    transition: all 0.2s;
    &:hover {
      color: $accent;
      text-decoration: underline;
    }
  }
  &__btn {
    padding: 30px 100px 30px 30px;
    background-color: $blue;
    margin-left: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    img {
      max-width: 32px;
      height: 23px;
      transform: rotate(180deg);
    }
  }
}

// Header end
// Главная start

.screen {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  &__art {
    &-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    &-center {
      position: absolute;
      right: 20%;
      top: 0;
      max-width: 600px;
      width: 100%;
      z-index: 1;
    }
    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__social {
    position: absolute;
    top: 490px;
    left: 20px;
  }
}
// Главная end
// Місія start
.mission {
  margin-top: 75px;
  &__title {
    position: relative;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/logo-white.png);
      width: 478px;
      height: 105px;
      right: 50px;
      top: -25px;
    }
  }
  &__slider {
    width: 704px;
    height: 555px;
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__text {
    max-width: 500px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    margin-right: 150px;
    margin-top: 45px;
  }
  &__decor {
    position: absolute;
    background-image: url("../images/bg-4.png");
    background-repeat: no-repeat;
    max-width: 483px;
    width: 100%;
    height: 370px;
    right: 0;
    bottom: -70px;
    z-index: 2;
  }
}
.control-c {
  position: absolute;
  right: -80px;
  bottom: 5px;
}
.prev {
  bottom: 55px;
}
// Місія end
// Art start

.art {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom 20px right 45%;
  z-index: 21;
  padding-bottom: 100px;
  &__title {
    margin: 0 0 70px 60px;
  }
  &__list {
    &-item {
      padding: 14px 230px 14px 130px;
      height: 86px;
      max-width: 660px;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      transition: all 0.3s;
      border-radius: 0 43px 43px 0;
      position: relative;
      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 80px;
      }

      .p {
        max-width: 330px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
  &__decor {
    position: absolute;
    bottom: 0;
    right: 130px;
    // height: 710px;
  }
}
.orang {
  &:hover {
    background-color: $orang;
    color: #fff;
  }
}
.blue {
  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
.accent {
  &:hover {
    background-color: $accent;
    color: #fff;
  }
}
// Art end
//About start
.about {
  margin-top: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    margin-left: 60px;
  }
  &__text {
    width: 500px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    margin: 50px 0 74px 0;
  }
  &__btn {
    margin-bottom: 35px;
  }
  &__slider {
    border: 10px solid #ff6450;
    box-sizing: border-box;
    max-width: 704px;
    height: 555px;
    position: relative;
    .prev {
      bottom: 55px;
    }
  }
}
.control-a {
  position: absolute;
  bottom: 5px;
  left: -80px;
}

//About end

// Главная страница end

// Крамничка start

.banner {
  margin: 0;
  background-image: url(../images/bg-page.png);
  background-repeat: no-repeat;
  background-position: 52% 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    margin-right: 25%;
  }
  &__info {
    font-family: Roboto;
    position: relative;
    margin: 112px 50px 0;
    &-title {
      font-size: 96px;
      line-height: 112px;
      text-transform: uppercase;
    }
    &-subtitle {
      font-size: 48px;
      line-height: 56px;
    }
    &-text {
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
    }
    &-subtext {
      font-family: Roboto;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ff6450;
      transform: rotate(-90deg);
      position: absolute;
      right: 0;
      bottom: 40%;
    }
    &-price {
      text-align: right;
      font-weight: 700;
      font-size: 64px;
      line-height: 60px;
      width: 115px;
      position: relative;
      display: inline-block;
      right: -221px;
      margin-bottom: 50px;
      span {
        position: absolute;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        right: 5px;
        bottom: -20px;
      }
    }
  }
  &__social {
    margin-top: 96px;
  }
}

.masters__slider {
  max-width: 704px;
  height: 555px;
  position: relative;
  .control-a {
    position: absolute;
    left: 710px;
    bottom: 5px;
  }
  .prev {
    bottom: 55px;
  }
}
.magasine {
  display: block;
  text-align: center;
  padding: 50px 10px 0;
  &__subtitle {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    color: $accent;
    margin-top: 30px;
  }
  &__crumbs {
    text-align: left;
    font-family: Roboto;
    font-size: 11px;
    line-height: 13px;
    margin: 40px 0;
    display: flex;
    a{
      margin: 0 5px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 88px;
  }
  &__controls {
    text-align-last: left;
    .mixitup-control-active {
      background: $orang;
    }
  }
  &__btn {
    margin-right: 20px;
    padding: 15px 24px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    }
  }
}

.masters__decor {
  position: absolute;
  background-image: url("../images/bg-6.png");
  background-repeat: no-repeat;
  max-width: 483px;
  width: 100%;
  height: 284px;
  right: 0;
  bottom: 20px;
  z-index: -1;
}

// sale

.sale {
  &__inner {
    margin-top: 50px;
  }
  &__slider{
    margin: 0 auto;
  }
  &__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 23px;
    border: 1px solid $orang;
    border-radius: 42px;
    max-width: 279px;
    height: 294px;
    img {
      max-width: 233px;
      width: 100%;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    font-size: 0;
    margin-top: 50px;
    .slick-active button {
      background-color: $ping;
    }
    button {
      width: 15px;
      height: 15px;
      background-color: #fff;
      border: 1px solid $orang;
      border-radius: 50%;
      margin: 0 5px;
      transition: all 0.3s;
    }
  }
}
.all-new {
  &__inner {
    margin-top: 50px;
  }
  &__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 23px;
    border: 1px solid $orang;
    border-radius: 42px;
    max-width: 279px;
    height: 294px;
    img {
      max-width: 233px;
      width: 100%;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    font-size: 0;
    margin-top: 50px;
    .slick-active button {
      background-color: $accent;
    }
    button {
      width: 15px;
      height: 15px;
      background-color: #fff;
      border: 1px solid $orang;
      border-radius: 50%;
      margin: 0 5px;
      transition: all 0.3s;
    }
  }
}



@import "media";